*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(../src/images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p {
    font-family: 'Ysabeau Office', sans-serif;
}