.container {
    color: white;
    background-color: black;
    height: 100%;
}

.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;
}

.custom-private-artist-page {
    color: white;
}

.custom-title {
    display: flex;
    align-items: center;
    color: #0075ab;
    gap: 25px;
}

.custom-profile-picture{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    overflow: hidden;
}