.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 170px;
  border-bottom: 2px solid white;

}

.navbar-logo {
  display: flex;
  padding-top: 10px;
  cursor: pointer;
}

.logo-image {
  height: 90px;
  padding-bottom: 25px;
}

.logo-title {
  font-family: 'Brother Tattoo demo';
  font-size: 65px;
  color: red;
  padding-top: 2px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

.nav-links {
  color: white;
  text-decoration: none;
  margin: 0;
}

.nav-links:hover {
  color: rgb(136, 136, 129);
  border-radius: 4px;
}

.navbar-connection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-artist {
  color: white;
  font-size: 16px;
}

.button-connect {
  display: flex;
  gap: 10px;
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 1240px) {
  .menu-toggle {
    display: block;
    justify-content: left;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-connection {
    display: none;
  }
  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    background-color: black;
  }
  
  .navbar-connection.active {
    display: flex;
    flex-direction: column;
    background-color: black;
  }
}
